<ul class="social-media-list">
  <!-- YouTube Channel 1 -->
  <li><a href="https://youtube.com/@TheBegginnerExperience"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span class="username">Looking For Mom</span></a></li>
  
  <!-- Discord Server 1 -->
  <li><a href="https://discord.gg/your-discord-invite"><span class="icon icon--discor">{%- include icon-discord.svg -%}</span> <span class="username">Looking For Mom</span></a></li>
  
  <!-- YouTube Channel 2 -->
  <li><a href="https://youtube.com/@YourSecondChannel"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span class="username">Tabletop Hobos</span></a></li>
  
  <!-- Discord Server 2 -->
  <li><a href="https://discord.gg/your-second-discord-invite"><span class="icon icon--discor">{%- include icon-discord.svg -%}</span> <span class="username">Tabletop Hobos</span></a></li>
</ul>
