---
---

// Custom variables (override Minima defaults) - MUST come before @import
$brand-color: #ff6b6b;
$content-width: 800px; // Keep original Minima default width

@import "minima";
@import "custom";

// Additional custom styles
.custom-class {
  color: $brand-color;

  &:hover {
    color: darken($brand-color, 10%);
  }
}

// Discord icon styling
.icon--discord {
  display: inline-block;
  vertical-align: middle;
  
  svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
    vertical-align: middle;
  }
}

// Ensure social media list icons are consistent
.social-media-list {
  .icon--discord,
  .svg-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
  }
}

// Email icon styling (for footer)
.icon--email {
  display: inline-block;
  vertical-align: middle;
  
  svg {
    width: 16px;
    height: 16px;
    fill: currentColor; // Use brand color (red)
    vertical-align: middle;
  }
}
